@import "tailwindcss";
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #6366f1; /* indigo-500 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #818cf8; /* indigo-400 */
}
